@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#game-canvas {
  width: 100%;
  height: 100%;
}

#bottom-bar {
  position: fixed;
  color: white;
  left: 0px;
  bottom: 0px;
  display: flex;
  padding: 5px 10px;
  background-color: saddlebrown;
}

#mouse-coords {
  display: flex;
}

.c-coord {
  padding: 0px 2px;
}