@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#holder {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#viewport {
  position: relative;
}

.tile {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
}

.tile.land {
  background-color: sandybrown;
}

.tile.water {
  background-color: blue;
}

.tile.occupied {
  background-color: black;
}

.tile.path {
  background-color: white;
  pointer-events: none;
}

.tile.path.end {
  border: 2px solid red;
}

.tile.path.start {
  border: 2px solid green;
}

.controls {
  display: flex;
  flex-direction: row;
}
